---
import { SITE } from '../consts';
const year = new Date().getFullYear();
---
<hr class="footer-rule" />
<p class="footer">
  Questions? <a href={`mailto:${SITE.supportEmail}`}>{SITE.supportEmail}</a>
</p>
<p class="footer">&copy; {year} {SITE.name}. All rights reserved.</p>
